.user-list {
  form.form-inline {
    position: relative;
    .dropdown {
      position: static;
      .dropdown-menu {
        right: -8px !important;
        top: 50px !important;
        transform: inherit !important;
        left: inherit !important;
      }
    }
  }
}
.user-list-table {
  .rt-thead {
    .rt-th {
      &:first-child {
        padding-right: 0;
      }
    }
  }
  .rt-td{
    button
    {
    background: none;
    border: none;
    padding-left: 0px;
    color: cornflowerblue;
    text-underline-position: under;
    border-bottom: 1px solid;
  }
}
}
